* {
    font-family: "Lato", sans-serif;
  }
  
  details {
    summary::-webkit-details-marker {
      display: none;
    }
  }
  .preview {
    overflow: scroll;
    height: calc(100vh - 15rem);
    @include scrollbars(0.5rem, $gray4, transparent);
    margin-right: 0;
  
    &::-webkit-scrollbar {
      background-clip: padding-box;
    }
  
    &__image {
      width: 100%;
      border-radius: 0.14rem;
      max-height: 34.5rem;
      object-position: top;
      max-width: 44rem;
      object-fit: cover;
    }
  
    &__info {
      font-size: $base-size;
      display: flex;
      flex-direction: column;
  
      & > div {
        display: grid;
        grid-template-columns: 10rem auto;
        grid-template-rows: minmax(2.5rem, max-content);
        line-height: 2.75rem;
        padding-left: 0.5rem;
        text-overflow: nowrap;
      }
    }
  }
  .favorite__icon{
    &:hover{
        svg{fill: $danger !important}
    }
    
  }
  .sort__icon{
    &:hover{
      @extend .border-gray5;
    }
    &:active{
      @extend .bg-dark;
    }
  }
  .view {
    font-weight: 600;
    display: grid;
    height: 100%;
    cursor: pointer;
    &__grid--board {
      gap: 1rem;
      padding: 1rem;
      min-height: 4.5rem;
      grid-template-columns: repeat(auto-fill, 16rem);
      font-size: $base-size;
      &-file {
        grid-template-rows: repeat(auto-fill, 16rem);
  
        &--empty {
          grid-template-columns: 1fr;
        }
      }
      &-folder {
        &--empty {
          grid-template-columns: 1fr;
        }
      }
    }
    &__grid--list {
      grid-template-columns: 1fr;
  
      &-folder {
        &--empty {
          grid-template-columns: 1fr;
        }
      }
  
      &__row {
        display: grid;
        align-items: center;
        grid-template-columns: 2.5rem auto;
        grid-template-rows: 2.5rem;
        gap: 0;
        border: 1px solid $light;
        transition: background-color 0.2s linear;
        border-bottom: 1px solid transparent;
        &:first-child {
          border-top: 1px solid transparent;
        }
  
        &:hover {
          background: $light;
          border-color: $gray4;
          border-bottom: 1px solid $gray4;
        }
        &:active {
          border-color: $black;
          border-bottom: 1px solid $black;
        }
        &:last-child {
          &:hover {
            border-bottom: 1px solid transparent;
          }
          &:active {
            border-color: $black;
          }
        }
        & > .icon {
          justify-self: center;
        }
        & > span {
          border-left: 1px solid $light;
          line-height: 2.5rem;
        }
      }
    }
  }
  .folder {
    width: 16rem;
    height: 3.5rem;
    border: 1px solid transparent;
    background-color: $secondary-sub3;
    transition: height .1s linear,width .1s linear;
    $self:&;

    &__name{
      width: fit-content;
      position: relative;
    }

    &--drop{
        
        #{ $self }{
          border-color: $gray5 !important;
          background-color: lighten($light,1%);
          border-width: 2px !important;
          height: 105%;
          width: 105%;
        }
        #{ $self }__name::after{
            content:'Drop here';
            background-color: lighten($light,1%);
            color: $gray6;
            white-space: nowrap;
            position: absolute;
            right: 0;
            float: right;
            font-weight: 400;
            font-size: $font-size-sm;
        }
    }

    &__skeleton:hover,
    &__skeleton:active {
      border-color: $gray4;
      box-shadow: none;
    }
    &__skeleton {
      width: 16rem;
      height: 3.5rem;
    }
    &__skeleton:after {
      animation: shine 0.7s ease-in-out infinite;
      animation-fill-mode: forwards;
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 200%;
      opacity: 0;
      transform: rotate(30deg);
  
      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.23) 0%,
        rgba(255, 255, 255, 0.43) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  
    &:hover {
      border: 1px solid $secondary;
    }
    &:active {
      border-color: $black;
      background: $white;
      box-shadow: 0px 4px 8px #1d1d2052;
    }
  }
  #folder {
    &__context {
      display: flex;
      flex-direction: column;
      width: 12.5rem;
      background: $white;
      box-shadow: 0px 0px 2px 0px $secondary;
      border: 1px solid black;
      z-index: 9;
  
      .list__item {
        font-weight: 400;
        padding-left: 0.5rem;
      }
    }
  }
  
  .side-panel {
    &__header {
      display: flex;
      width: 100%;
      margin-bottom: 0.5rem;
      display: grid;
      gap: 1rem;
      padding: 1.5rem;
      grid-template-columns: 12.5rem 8.5rem auto;
      &__file__info {
        grid-template-columns: 2.5rem auto;
        grid-template-rows: 1.25rem;
        display: grid;
  
        & > div:first-child {
          grid-row: 1 / span 2;
          height: 2.5rem;
          margin: auto;
          width: 2.5rem;
        }
      }
  
      &__actions {
        & > div {
          &:hover {
            &::v-deep {
              svg {
                fill: $gray6;
                transition: 0.2s fill ease-in;
              }
            }
          }
        }
      }
    }
  }
  .nav {
    &__extension {
      top: 1rem;
      left: 3.5rem;
      grid-gap: 1rem;
      display: grid;
      padding: 0 1rem;
      gap: 1rem;
      grid-template-columns: 1fr;
  
      span {
        width: 10rem;
        line-height: 1.8;
      }
    }
    &__row {
      display: flex;
      gap: 1rem;
      cursor: pointer;
      &.active::v-deep {
        svg {
          fill: $white;
        }
        span {
          color: $white;
        }
      }
      &:hover::v-deep {
        svg {
          fill: $white;
        }
        span {
          color: $white;
        }
      }
    }
  }
  .crumb {
    padding-right: 0.25rem;
  }
  .menu {
    border-bottom: 1px solid $gray4;
  }
  .page {
    &__title {
      height: 4.5rem;
      padding-left: 2rem;
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      padding-right: 1rem;
      align-items: center;
    }
  }
  .hover-bg-success:hover {
    &::v-deep {
      select {
        background-color: $success;
        transition: 0.2s background-color ease-in;
      }
    }
  }
  .file {
    &__skeleton {
      min-height: 16rem;
      height: 16rem;
      &--list {
        height: 2.5rem;
      }
    }
    
    &--drag{
        display: flex;
        flex-shrink: 2;
        overflow: hidden;

        &>.file{
            transform: scale(.7);
            transition: transform .02s linear;
            background-color: white;
           
        }
    }
    &--ghost{
         opacity: .5;
    }

    &__skeleton:after {
      animation: shine 0.7s ease-in-out infinite;
      animation-fill-mode: forwards;
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 200%;
      opacity: 0;
      transform: rotate(30deg);
  
      background: rgba(255, 255, 255, 0.13);
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.23) 0%,
        rgba(255, 255, 255, 0.43) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .app-wrapper {
    &__content {
      @include scrollbars(0.5rem, $gray4, transparent);
      grid-template-rows: minmax(100%, max-content);
      overflow-y: scroll !important;
    }
  }
  .user-menu {
    @extend .list;
    width: max-content;
    top: 4rem;
    right: 0;
    min-width: math.div($item-width, 2);
    z-index: 9;
  }
  
  @keyframes shine {
    10% {
      opacity: 1;
      top: -30%;
      left: 10%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    50% {
      opacity: 0.5;
      top: -30%;
      left: -60%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -240%;
      transition-property: left, top, opacity;
    }
  }